/* ---------------- BLOGPOST STYLING ---------------- */
body {
	font-family: 'Quicksand', sans-serif;
}

article {
	padding: 40px 80px 40px 80px;
	background-color: white;
}

.post-headline {
	font-family: 'Quicksand', sans-serif;
	color: black;
	font-size: 64px;
	font-weight: bold;
	justify-content: center;
	text-align: center;
}

.post-image{
	padding: 0px 100px 0px 100px;
}

.post-intro {
	font-size: 24px;
}
.post-subheading {
	padding: 0px;
}

.author-box {
	background-color: #FFDCD4;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 20px;
}

#img-avatar {
	border-radius: 50%;
	width: 120px;
	height: auto;
	padding: 0px 40px 0px 40px;
}

.author-info{
	padding: 40px;
}

.author-name {
	color:#fa5c47;
}

.social-sharing {
    text-decoration:italic;
    text-decoration: underline;
}

/* ---------------- MEDIA QUERIES ---------------- */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {

article {
	padding: 16px 24px 16px 24px;
	background-color: white;
}

.post-headline .post-intro .post-subheading{
	font-size: 0.5em;
}


.post-image{
	padding: 0px 20px 0px 20px;
}	

.author-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#img-avatar {
	padding: 40px;
}

.author-info{
	padding: 0px 40px 40px 40px;
}

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {

.post-image{
	padding: 0px 32px 0px 32px;
}	

.author-info{
	padding: 40px 40px 40px 0px;
}

}

