/* ---------------- MEDIA QUERIES ---------------- */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
	
	body  {

      display:grid;
      grid-template-areas: 
      "hd"
      "sd"
      "blog"
      "ft";
      max-width: 100%;
     }

    header {
	display:flex;
	flex-direction: column;
	align-content-content: center;
    }

    #brand {
    padding-top: 16px;
    }

	.sidebar {
	  padding: 16px;
	}


    .grid-container {
    display: flex;
	flex-direction: column;
    }

    .card {
    margin-bottom: 20px;	
    }

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {

	.grid-container {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: repeat (3 1fr);
}


}